#app, div.input-area {
  height: 100%;
}

div#main {
  position: relative;
  max-width: 720px;
  background: #2b303b;
  border-radius: 5px;
  height: 400px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.59);
  -moz-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.59);
  box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.59);
  overflow-x: hidden;
}

.holder {
  overflow: auto;
}

.prompt {
  color: #d28445;
}

input[type=text], input[type=text]:focus {
  border: none;
  padding: 0;
  margin: 0;
  height: 22px;
  background: #2b303b;
  color: #ebcb8b;
  width: 80%;
}

p {
  margin-bottom: 0;
  line-height: 21px;
  word-wrap: break-word;
}

#bar {
  height: 40px;
  max-width: 720px;
  background: #274f79;
  border-radius: 5px;
}

#content {
  padding: 20px;
  height: 100%;
}
